@import "tailwindcss";

/* Di v4, konfigurasi warna dan shadow dipindah ke sini (CSS Variables) */
@theme {
  --color-cyber-black: #050505;
  --color-cyber-cyan: #00f3ff;
  --color-cyber-pink: #ff00ff;

  --shadow-neon-cyan: 0 0 10px #00f3ff, 0 0 20px rgba(0, 243, 255, 0.5);
  --shadow-neon-pink: 0 0 10px #ff00ff, 0 0 20px rgba(255, 0, 255, 0.5);
}

@layer base {
  body {
    background-color: var(--color-cyber-black);
    color: white;
    font-family: "Courier New", Courier, monospace;
  }
}

/* Efek Scanline tetap kita pakai */
body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 9999;
  background-size:
    100% 2px,
    3px 100%;
  pointer-events: none;
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(1000%);
  }
}

.animate-scanline {
  animation: scanline 8s linear infinite;
}
